pdf-epub.kr, www.pdf-epub.kr, pdf-epub.co.kr, www.pdf-epub.co.kr {
	encode zstd gzip

	@backend path /api/* /docs* /openapi.json /redoc* /health*
	handle @backend {
		reverse_proxy web:8000
	}

	@ads path /ads.txt
	handle @ads {
		root * /srv
		file_server
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
